body{
    margin:0;
    background-color:maroon;
    font-family:sans-serif;
}

/* main page layout */
.layout{
    display:flex;
    min-height:100vh;
}

/* left icon column */
.left-column{
    width:260px;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:40px;
}

/* icons scale automatically */
.left-column img{
    width:100%;
    background:white;
    cursor:pointer;
}

/* main content area */
.main-content{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
}

/* responsive frames */
#calendar{
    width:100%;
    height:60vh;
    border:0;
    filter: invert(.9) saturate(.5) hue-rotate(145deg);
}

#hw{
    width:100%;
    height:35vh;
    border:0;
    filter: invert(.9) saturate(.5) hue-rotate(145deg);
}
